:root{
    --primary-font:'Roboto', sans-serif;
    --primary-text-color: #212121;
    --secondary-tex-color:#757575;
    --third-text-color:#2196F3;
}



.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

    body {
        font-family:var(--primary-font);
            }

/* -------------------------------HEADER-------------------------- */
.page-header{
    /* background-color: #FFFFFF; */
}
.logo-head{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--third-text-color);
}
.logo-head-part2{
    color: var(--primary-text-color);
}
/* --------------------------------Menu-nav------------------------ */
.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    cursor: pointer;

}
.menu-link:hover,
.menu-link:focus {
        color:var(--third-text-color);
}

.contact-phone-number,.mail-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-tex-color);
}

.mail-link:hover,
.mail-link:focus,
.contact-phone-number:hover,
.contact-phone-number:focus{
        color:var(--third-text-color);
    }


/* ---------------------------------------HERO------------------------------- */
.hero{
    background-color: #2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.service-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--primary-text-color);
    background: #F5F4FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.service-btn:hover,
.service-btn:focus{
    background-color:var(--third-text-color);
    color: #FFFFFF;
}
/* -----------------------Characteristic-------------------------------------------*/

.characteristic-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.characteristic-subtitle{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-tex-color);
    }
/* -----------------------------Service------------------------------------------ */
.service-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }


/* ---------------------------Team------------------------------------------------ */
.team{
    background-color: #F5F4FA;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-members-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}
.team-card{
    background-color: #FFFFFF;
}
.team-members-position{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-tex-color);
    /* text-align: center; */
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<      PORTFOLIO     >>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* -------------------------------------Filters----------------------------------- */
.filter-btn{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    /* text-align: center; */
    letter-spacing: 0.03em;
    font-weight: 500;
    color: var(--primary-text-color);
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus{
    background: var(--third-text-color);
    color: #FFFFFF;
}

/* -------------------------------Projects----------------------------------------- */
.projects-titles{
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.projects-group{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-tex-color);
}
/* .projects-titles:hover,
.projects-titles:focus{ */

/* ----------------------------FOOTER--------------------------------------------- */
.logo-foot{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--third-text-color);
}
.logo-foot-part2{
    color:white;
}
.footer{
    background-color: #2F303A;
}

.location{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
}
.location:hover,
.location:focus{
    color: var(--third-text-color);
}
.mail-link-footer, .contact-phone-number-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    font-style: normal;
}

.mail-link-footer:hover,
.mail-link-footer:focus,
.contact-phone-number-footer:hover,
.contact-phone-number-footer:focus{
    color:var(--third-text-color);
}
